@use './components/_vars.scss' as var;

:root {
    font-family: var.$main-font-family;
    line-height: 1.5;
    font-weight: 400;

    background-color: #E1E1E1;
}

body {
    margin: 0 auto;
    color: var.$text-color;
    display: flex;
    flex-direction: column;
    place-items: center;
    min-width: 100vw;
    width: 100vw;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.726), rgba(255, 255, 255, 0.164)),
        url("./assets/mur.jpg");
    background-size: cover;
}


.main {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    margin: auto;
    width: 100vw;
    min-height: 100vh;
    max-width: 80%;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var.$main-bg-color;

    h1 {
        font-weight: 400;
        text-align: center;
        font-size: 3.2em;
        line-height: normal;
        margin-bottom: 0%;
    }

    p {
        padding: 0 10%;
    }

    h2 {
        text-align: center;
        font-weight: 400;
    }

    h3 {
        font-weight: 400;
        padding: 0 10%;
    }
}

a {
    font-weight: 500;
    text-decoration: inherit;
}

a:hover {
    color: var.$secondary-color;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: var.$secondary-color;
    cursor: pointer;
    transition: border-color 0.25s;
    color: whitesmoke;
}

button:hover {
    background-color: var.$secondary-color-focus;
}

button:focus,
button:focus-visible {
    background-color: var.$secondary-color-focus;
}

